body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden;
}
.home{
    background-image: url(bg-new3.jpg);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}
.head{
    justify-content: space-between;
    display: flex;
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
}
.mybtn{
    color: white;
    margin-top: 15px;
    margin-right: 15px;
}
.mybtn:hover {
    color: #007bff;;
}
.iii{
    width: 50px;
    height: 50px;
}
.menu {
    width: 300px;
    display: block;
    background: #333;
    height: 100%;
    top: 0;
    right: -300px;
    position: fixed;
    z-index: 100;
    text-align: center; 
    transition: right 0.4s;
}
li{
    color: white;
}
ul{list-style-type: none;}
.ul1{
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.clo{
    position: relative;
    left: 42%;
}
.ul1 li a{
    color: white;
}
.ul1 li a:hover{
    color: #007bff;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: -64px;
    gap: 14px;
}
.social-icons li {
    border: white;
    background: white;
    padding: 11px;
    border-radius: 50%;
    padding-left: 16px;
    padding-right: 16px;
    
}
.social-icons > li > a {
    color: #333;
}
.last{
    margin-top: 20px;
}
.content {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@media screen and (min-width: 768px) {
h1 {
    font-size: 75px;
}
}
.content p {
    font-size: 21px;
    font-weight: 200;
    text-align: center;
}
.bbbbb{
padding: 18px 45px;
}
.bbbbb:hover {
    color:#007bff;
    background-color: white;

}
.diamond{
width: 60%;
    /* height: 286px; */
    color: #007bff;
    /* border: solid;
    border-color: black; */
    /* margin: 20px; */
    transition: 0.4s;
}


.icon{
    width: 110px;
    height: 110px;
    display: flex;
    border: 1px #b3b3b3 solid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s;
}
/* .icon:hover{
    background-color: #007bff;
    #dia{
        color:white;
    }
} */
/* .diamond:hover{
    background-color: #007bff;
} */
.maclass:hover{
    color: white;
    background-color: #007bff;
}
.my-clo{
    gap: 50px;
}
.img{
    width: 90%;
    height: 80%;
}
.photo{
    width: 100%;
    height: 100%;
    /* z-index: 2; */
}
.mask{
    width: 83%;
    top: 10%;
    height: 80%;
    position: absolute;
    border-radius: 12px;
    background-color: rgb(0,0,0,0.5);
    opacity: 0;
    /* z-index: 1; */
    
    transition: all 0.4s;
}
.mask:hover{
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .mask{
        width: 85%;
    }
    }
    /* @media screen and (min-width: 768px) {
        .mask{
            width: 85%;
        }
    } */
iframe{
    width: 100%;
    height: 500px;
}
.input{
    background-color: #b3b3b3;
}
.adrerses p {
    color: #b3b3b3;
}
.social-icons li a:hover{
    color: #007bff;
}
.lastbb{
    transition: all 0.4s;
}
.lastbb:hover{
    color:#007bff ;
    background-color: white;
}


/* // Small devices (landscape phones, 576px and up) */
@media(max-width: 269px) { 
    .about{
        margin-top: 810px;
    
    }
}
@media(max-width: 349px) and (min-width: 270px) { 
    .about{
        margin-top: 650px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px ) {  .about{
    margin-top: 400px;
} }

@media (min-width: 350px  ) and (max-width: 396px) {  .about{
    margin-top: 650px;
} }
@media (min-width: 397px  ) and (max-width: 767px) {  .about{
    margin-top: 500px;
} }


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .about{
        margin-top: 49px;
    }
  }
  @media (max-width: 561px) {
    .we{
        margin-top: 100px;
    }
  }


/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  .about{
    margin-top: 500px;
} }

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
    .about{
        margin-top: 500px;
    }

 } */ 